body { /*Req 1,2,3*/
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
    font-weight: normal;
    font-size: 60px;
}
h2 {
    font-weight: normal;
    font-size: 30px;
}
p {
    font-size: 18px;
    text-align: left;
}
p.expFormat { /*Req 5,9,17,20*/
    display:inline;
    padding-left: 30px; 
    position: relative;
    bottom: 30px;    
}
p.Centered, figure { /*Req 10,11,12*/
    text-align: center;
}
.img-centered { /*Req 18*/
    object-fit: contain;
    clear:both;
}

figcaption { /*Req 8*/
    position: absolute;
    left:710px;
    color: grey;
}
a {
    display: block;
    margin: 0 auto;
    width: 100%;
    outline: 0;
    padding: 12px 16px;
    text-decoration: none;
}
a:link, a:visited { /*Req 14*/
    color:white;
}
a:hover {
    color:black;
}
.navButton {
    background-color: inherit;
    transition-property: background-color;
    transition-duration: 0s;
    transition-delay: 0s;
    z-index: 0;
    
}
    div.navButton:hover {
    background-color: black;
}
nav { /*Req 6,22*/
    height: 100%;
    margin: 0 auto;
    width: 130px;
    background-color: rgb(40,40,40);
    position: fixed;
    z-index: 1;
}
div.default {
    padding-top: 30px;
    padding-bottom: 30px;
}
div.main {
    width: 800px;
    margin-left: 180px;
    padding: 10px;
    text-align: left;
}
i {
    padding: 12px 16px;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    background-color: inherit;
    z-index: 1;
}
div.circleList { /*Req 7 in subpage.html*/
    list-style-type: upper-latin;
}
p.hidden { /*Req 16,18,21 in subpage.html*/
    visibility:hidden;
    float:right;
    overflow:visible;
}
#border { /*Req 4,13*/
    border:solid green 5px;
}
div li { /*Req 15*/
    background-color: black;
}
@media only screen and (max-width: 600px) 
{
    div.main {
        margin-left: 0
    }
}

